<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime" version="200.4.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="200.4.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.WPF" version="200.4.0" targetFramework="net472" />
</packages>