<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="%ESRI_SAMPLES_TEMP_BUILD_ROOT%\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="local" value="%ESRI_SAMPLES_TEMP_BUILD_ROOT%\QUARTZ_LATEST_GOOD" />
  </packageSources>
</configuration>