<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="ArcGISRuntimeXamarin_Android.ArcGISRuntimeXamarin_Android">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="ArcGIS Runtime SDK for Xamarin Android" android:icon="@drawable/Icon"></application>
</manifest>