<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime.Hydrography" version="100.5.0" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime.LocalServices" version="100.5.0" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.5.0" targetFramework="net461" />
</packages>