<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime.Xamarin.Android" version="100.2.1" targetFramework="monoandroid60" />
  <package id="Esri.ArcGISRuntime.Xamarin.Forms" version="100.2.1" targetFramework="monoandroid60" />
  <package id="Esri.ArcGISRuntime.Hydrography" version="100.2.1" targetFramework="monoandroid60" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid60" />
  <package id="PInvoke.BCrypt" version="0.5.86" targetFramework="monoandroid60" />
  <package id="PInvoke.Kernel32" version="0.5.86" targetFramework="monoandroid60" />
  <package id="PInvoke.NCrypt" version="0.5.86" targetFramework="monoandroid60" />
  <package id="PInvoke.Windows.Core" version="0.5.86" targetFramework="monoandroid60" />
  <package id="Validation" version="2.4.15" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.CustomTabs" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Auth" version="1.5.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.4.0.74863" targetFramework="monoandroid60" />
</packages>