<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ebbf4e12-3917-459e-afe0-45117ee17681" Publisher="CN=hans2101" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ArcGISRuntime.Samples.StoreViewer</DisplayName>
    <PublisherDisplayName>hans2101</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ArcGISRuntime.Samples.StoreViewer.App">
      <m2:VisualElements DisplayName="ArcGIS Runtime SDK Samples" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ArcGIS Runtime SDK for .NET - Windows Store samples" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="ArcGIS Samples">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>